<!DOCTYPE html>
<html>

<head>
  <title>Database Inspector</title>
  <meta name="author" content="Juan Camilo Sanchez">
  <meta name="description" content="This is a page where you can see a database structure.">
  <link rel="Shortcut Icon" href="/images/favicon.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Database Inspector</h1>

    <div class="card-group">
      <div class="card" id="dbs-list">
        <div class="card-header">
          <h3>Database</h3>
        </div>
        <div class="card-body short">
          <input type="text" class="w-100" placeholder="¿Que estas buscando?">
        </div>
        <ul class="list-group list-group-flush scrollable">
          <% databases.forEach(db=>{%>
          <a onclick="selectDB('<%=db.name%>')" class="w-100">
            <li class="list-group-item clickable">
              <%= db.name%>
            </li>
          </a>
          <%})%>
        </ul>
      </div>
      <div class="card d-none" id='collections-list'>
        <div class="card-header">
          <h3>Collections</h3>
        </div>
          <div class="card-body short">
            <input type="text" class="w-100" placeholder="¿Que estas buscando?">
          </div>
          <ul class="list-group list-group-flush scrollable">
          </ul>
      </div>
      <div class="card d-none" id='documents-list'>
        <div class="card-header">
          <h3 class="w-50 d-inline">Documents</h3>
          <button class="btn  btn-primary float-right" data-toggle="modal" data-target="#addModal" onclick="add()">+</button>
        </div>
        <ul class="list-group list-group-flush scrollable">
        </ul>
        <div class="card-footer">
          pagina 
        </div>
      </div>
      <div class="card d-none" id='document-detail'>
        <div class="card-header">
          <h3 class="w-50 d-inline">Documents</h3>
          <button class="btn  btn-primary float-right" data-toggle="modal" data-target="#editModal" onclick="edit()">edit</button>
          <button class="btn  btn-primary float-right">delete</button>
        </div>
        <ul class="list-group list-group-flush scrollable">
        </ul>
      </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container-fluid" >
        <form id="addForm">
        <div class="row" id="add-modal">

        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveNew()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="edit-modal">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveEdit()">Save changes</button>
      </div>
    </div>
  </div>
</div>
    <script src="/javascripts/main.js"></script>
</body>
</html>